body {
  font-family: Arial, sans-serif;
  background-color: #cce7ff; /* Light Blue Background */
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* White box for content */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #0056b3; /* Dark Blue */
}

header {
  text-align: center;
  padding: 20px 0;
}

header img {
  margin: 10px 5px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
}

form input, form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form .btn {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form .btn:hover {
  background-color: #003f7f;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  margin-top: 20px;
}
